div.awssld { /* carousel inteiro */
  position: relative;
  width: 60%;
}

.awssld__content {
  background-color: #fff !important;
}

.awssld__content > img {
  object-fit: contain !important;
  margin-left: 40px;
}

.awssld__bullets { /* bullets */
  display: flex;
  flex-direction: column;
  z-index: 999;
  position: absolute;
  width: auto;
  height: 100%;
  left: 0;
  top: 0;
  width: 10px;
}

.awssld__bullets button {
 background: var(--gray-light);
 margin: 15px 0;
 width: 14px;
 height: 14px;
}

.awssld__bullets .awssld__bullets--active {
  background-color: var(--red);
}

@media (max-width: 900px) {
  div.awssld {
    width: 50%;
  }

  .awssld__content > img {
    margin-left: 40px;
    width: 80%;
  }
}

@media (max-width: 700px) {
  div.awssld {
    width: 100%;
    height: 50%;
  }

  .awssld__content > img {
    object-fit: contain !important;
    margin-left: 0;
    width: 100%;
  }
}